* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --main-color: #2E5266;
    --secondary-color: #A8AEC1;
    --tertiary-color: #A09EBB;
}

#everything {
    height: 100vh;
    display: grid;
    grid-template-rows: 175px 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
        'sidebar nav'
        'sidebar body'
}

nav {
    grid-area: nav;
    background-color: var(--main-color);
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-rows: repeat(10, 50px);
}

.sidebar-text-container {
    display: grid;
    grid-template-columns: 40px 50px;
}

#body {
    grid-area: body;
    background-color: var(--tertiary-color);
}