* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-color: #4b2e66;
    --secondary-color: #b4a8c1;
    --lighter-secondary-color: #cdc1db;
    --tertiary-color: #a595b4;
    --lighter-font: #494949;
    --large-font: 1.2rem;
    --medium-font: 1rem;
    --small-font: 0.75rem;
    --bold-font: 700;

}

#everything {
    height: 100vh;
    display: grid;
    grid-template-rows: 175px 1fr;
    grid-template-columns: minmax(200px, 1fr) 3fr;
    grid-template-areas: 
        'sidebar nav'
        'sidebar body'
}

nav {
    grid-area: nav;
    background-color: var(--main-color);
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#nav-column-top {
   height: 80px;
   padding: 0 1em 0 1em;
   display: grid;
   grid-gap: 1em;
   align-items: center;
   grid-template-columns: auto 10fr auto auto auto;
   grid-template-rows: 80px;
}

.searchbar {
    border: none;
    border-radius: 36px;
    background-color: var(--secondary-color);
    width: 70%;
    height: 2.5em;
}

#nav-column-top > p {
    font-weight: var(--bold-font);
}

#nav-column-top > p, #nav-column-bottom > div > p {
    color: white;
}

#nav-column-bottom {
    height: 80px;
    padding: 0 1em 0 1em;
    grid-gap: 0.5em;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto 1fr 1fr 1fr 1fr auto;
    grid-template-rows: 80px;
    grid-template-areas: 
    'profile-picture profile-name blank-space button1 button2 button3';
}

#nav-column-bottom > button {
    border: none;
    border-radius: 2em;
    color: var(--main-color);
    font-size: var(--small-font);
    font-weight: 700;
    background-color: var(--lighter-secondary-color);
    padding: 0.8em;
}

.nav-bottom-empty-space {
    width: 40%;
    grid-area: blank-space;
}


.profile-picture-top, .profile-picture-bottom {
    object-fit: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.profile-picture-bottom {
    height: 60px;
    width: 60px;
}

#username-greeting {
    font-size: var(--small-font);
}

#username-introduction {
    font-weight: var(--bold-font);
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-rows: repeat(10, 50px);
}

.sidebar-text-container {
    padding: 1em 0 0 1em;
    display: grid;
    grid-template-columns: 2.8em 3em;
}

.sidebar-text-container > p {
    font-weight: var(--bold-font);
}

#calendar-icon {
    position: static;
}

.sidebar-text-container > img {
    position: relative;
    bottom: 4px;
}

h4 {
    font-size: var(--large-font);
    padding: 0.5em;
}

#body {
    grid-area: body;
    background-color: var(--tertiary-color);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: minmax(500px, 2fr) minmax(250px, 1fr);
    grid-template-areas: 
    'your-projects announcements'
    'your-projects trending'
    ;
}

.your-projects {
    grid-area: your-projects;
    background-color: var(--tertiary-color);
}

.your-projects-grid-container {
    height: 95%;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.your-projects-grid-container > div {
    border-radius: 0.5em;
    padding: 1em;
    background-color: var(--lighter-secondary-color);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
}

.your-projects-grid-container > div > p {
    font-size: var(--small-font);
    color: var(--lighter-font);
}

.your-projects-grid-container > div > div {
    padding: 0.5em;
    display: flex;
    justify-content: end;
}

.your-projects-grid-container > div > div > img {
    margin: 0.2em 0.5em 0 0.5em;
}

h5 {
    margin-bottom: 0.4em;
    font-size: var(--medium-font);
}

h6 {
    margin-bottom: 0.4em;
}
.announcements {
    grid-area: announcements;
}

.announcements-grid-container {
    padding: 0.5em;
    padding-top: 1em;
    margin-left: 1em;
    margin-top: 0.6em;
    grid-gap: 0.1em;
    background-color: var(--lighter-secondary-color);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 0.5em;
    width: 85%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 80%;
    justify-content: center;
}

.announcements-grid-container > div > p {
    font-size: var(--small-font);
    color: var(--lighter-font);
}

.trending {
    grid-area: trending;
}

.trending-grid-container {
    background-color: var(--lighter-secondary-color);
    padding: 0.8em;
    width: 85%;
    border-radius: 0.5em;
    margin-left: 1em;
    margin-top: 0.6em;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
    display: grid;
    grid-gap: 0.5em;
}

.trending-grid-child-container {
    padding: 0.2em;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'profile username'
    'profile user-description';
}

.trending-username {
    grid-area: username;
    font-size: var(--small-font);
    font-weight: var(--bold-font);
}

.trending-user-description {
    color: var(--lighter-font);
    font-size: 0.8rem;
}

.trending-grid-container > div > img {
    grid-area: profile;
    object-fit: cover;
    height: 90%;
    width: 75%;
    border-radius: 50%;
} 